@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #B9FF66;
  --secondary: #000000;
  --tertiary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--secondary);
  color: var(--tertiary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-heading {
    @apply text-4xl font-bold leading-tight; /* Example for h1 styling */
  }
  
  .custom-heading-2 {
    @apply text-3xl font-semibold leading-snug; /* Example for h2 styling */
  }

  .custom-heading-3 {
    @apply text-2xl font-medium leading-normal; /* Example for h3 styling */
  }

  .custom-heading-4 {
    @apply text-xl font-normal leading-relaxed; /* Example for h4 styling */
  }
}

